.loader {
  width: 50px;
  height: 50px;
  border: 10px solid rgb(10, 182, 185); 
  border-top: 10px solid #808080; 
  border-radius: 50%;
  animation: loader 2s linear infinite;
}

.loaderContainer {
  display: grid;
  height: 300px;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
